/*------  MENU NAV -----------*/
.Top-nav {
    width: 100%;
    background-color: var(--main-fg-color);
}
nav {
    overflow: hidden;
    width: 85vw;
    margin: 0 auto;
}
/* Style the links inside the navigation bar */
nav a {
    float: left;
    color: var(--main-text-light-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
nav a:hover {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    transition: all .4s ease;
}
  
/* Add a color to the active/current link */
nav a.active {
    background-color: tomato;
    color: var(--main-text-light-color);
    font-weight: bold;
}
nav .Icon-widget {
    /*display: flex;
    flex-direction: row-reverse;
    align-items: center;*/
    padding-top: 8px;
    float: right;
}
nav .Icon-Cart {
    height: 35px;
    filter: invert(100%);
}
nav .Icon-Cart:hover {
    filter: invert(44%) sepia(89%) saturate(1215%) hue-rotate(332deg) brightness(103%) contrast(101%);
    transition: all .4s ease;
    cursor: pointer;
}



